<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="tr.org.liderahenk.liderconsole.commands.category"
            name="%commands.category">
      </category>         
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.ResourceUsageTask"            
            name="%command.task">
      </command>
      <command
            categoryId="tr.org.liderahenk.liderconsole.commands.category"
            id="tr.org.liderahenk.liderconsole.commands.ResourceUsageAlertTask"            
            name="%command.taskalert">
      </command>
   </extension>
   
   <extension
       point="org.eclipse.ui.handlers">
      	
      	<!-- Task handler -->
       <handler
            class="tr.org.liderahenk.resourceusage.handlers.ResourceUsageTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.ResourceUsageTask">
          
      </handler>
             <handler
            class="tr.org.liderahenk.resourceusage.handlers.ResourceUsageAlertTaskHandler"
            commandId="tr.org.liderahenk.liderconsole.commands.ResourceUsageAlertTask">
          
      </handler>
      
  </extension>
  
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
      		allPopups="false"
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.ApplyTask?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.ResourceUsageAlertTask"
                  id="tr.org.liderahenk.liderconsole.commands.ResourceUsageAlertTask"
                  tooltip="%command.taskalert">
				  	<visibleWhen>
				  		<and>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isSingleEntrySelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isAhenkSelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
			          	</and>
					</visibleWhen>
           		</command>
		</menuContribution>
      	<!-- Add extension point contribution for "task execution" dialogs -->
		<menuContribution
      		allPopups="false"
            locationURI="popup:tr.org.liderahenk.liderconsole.menus.ApplyTask?after=additions">
 				<command
                  commandId="tr.org.liderahenk.liderconsole.commands.ResourceUsageTask"
                  id="tr.org.liderahenk.liderconsole.commands.ResourceUsageTask"
                  tooltip="%command.task">
				  	<visibleWhen>
				  		<and>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isSingleEntrySelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
							<with
				                variable="tr.org.liderahenk.liderconsole.core.sourceproviders.main.isAhenkSelected">
				             	<equals
					                   value="true">
					            </equals>
				          	</with>
			          	</and>
					</visibleWhen>
           		</command>
		</menuContribution>
			
  </extension>
  	
</plugin>